* {
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    padding: 10px 30px;
    
}
header .logo {
    height: 12px;
    width: 100px;
    
  
}

header nav a {
    text-decoration: none;
}
header .desktop-middle {
    margin: 0 auto;
    
   
}

header .desktop-right{
    
}